<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Patient list</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>

<h2> Appointments list</h2>

<!--<table border="1" class="table table-striped">-->

<table class="table table-striped-columns w-50">
    <thead>
    <tr>
        <th> Id</th>
        <th> Date</th>
        <th> Edit</th>
        <th> Doctor name</th>
        <th> Specialisation</th>
        <th> Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${appointments.isEmpty()}">
        <td colspan="2"> No appointments yet</td>
    </tr>
    <tr th:each="appointment : ${appointments}">
        <td class="appointmentId" th:text="${appointment.id}"> Id</td>
        <td th:text="${appointment.date}" class="appointmentDate"> Date</td>
        <td>
            <button class="edit-appointment-button">Change date</button>
        </td>
        <td th:text="${appointment.doctor.name}"> Name</td>
        <td th:text="${appointment.doctor.specialisation}"> Name</td>
        <td>
            <button class="delete-appointment-button"> Delete appointment</button>
        </td>
    </tr>
    </tbody>
</table>

<p></p>

<button onclick="window.location.href='/dashboard';">
    Main menu
</button>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script>
    const deleteButtons = document.querySelectorAll('.delete-appointment-button');
    deleteButtons.forEach(function (deleteButton) {
        deleteButton.addEventListener("click", function () {
            if (confirm("Are you sure you want to delete this appointment?")) {
                const appointmentId = this.parentNode.parentNode.querySelector(".appointmentId").textContent;
                fetch('/appointment/' + appointmentId, {
                    method: 'DELETE'
                }).then(function (response) {
                    if (response.ok) {
                        alert("Appointment deleted successfully");
                        location.reload(); // Reload the page to update the table
                    } else {
                        alert("Error deleting appointment");
                    }
                });
            }
        });
    });
</script>


<script>
    const editButtons = document.querySelectorAll('.edit-appointment-button');
    editButtons.forEach(function (editButton) {
        editButton.addEventListener("click", function () {
            const appointmentRow = this.parentNode.parentNode;
            let date = new Date();
            date.setHours(date.getHours() + 25);
            const appointmentDate = appointmentRow.querySelector(".appointmentDate");
            appointmentDate.innerHTML = `
      <input type="date" class="form-control appointmentDateInput" value="${date.toISOString().split('T')[0]}">
      <input type="time" class="form-control appointmentTimeInput" value="${date.toTimeString().split(' ')[0]}">
    `;
            this.style.display = "none";
            const saveButton = document.createElement("button");
            saveButton.classList.add("save-appointment-button");
            saveButton.innerHTML = "Save";
            this.parentNode.appendChild(saveButton);
            saveButton.addEventListener("click", function () {
                const appointmentId = appointmentRow.querySelector(".appointmentId").textContent;
                const newDate = `${appointmentRow.querySelector(".appointmentDateInput").value}T${appointmentRow.querySelector(".appointmentTimeInput").value}.00`;
                if (validateDate(newDate)) {
                    fetch('/appointment/' + appointmentId, {
                        method: 'PUT',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({date: newDate})
                    }).then(function (response) {
                        if (response.ok) {
                            alert("Appointment date changed successfully");
                            location.reload(); // Reload the page to update the table
                        } else {
                            alert("Error changing appointment date");
                        }
                    });
                }
            });
        });
    });
</script>
<script>
    function validateDate(selectedDate) {
        var dateToCompare = Date.parse(selectedDate);
        var today = new Date();
        var minDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 1);
        var maxDate = new Date(today.getFullYear(), today.getMonth() + 3, today.getDate());
        if (dateToCompare < minDate || dateToCompare > maxDate) {
            alert("Please select a date between tomorrow and 3 months from today.");
            return false;
        }
        return true;
    }
</script>

</body>
</html>